<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- The following sections are not to be modified or renamed.  They are required for the implementation of the Framework-->
    <section name="TestConfigs" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <TestConfigs>
    <add key="DemoShopURL" value="https://testscriptdemo.com/" />
    <add key="Browser" value="chrome" />
  </TestConfigs>
</configuration>